body {
    background-color: darkgray;
    margin: 0;
    overflow: hidden;
    padding:0;
    text-align: center;
}

#carCanvas {
    background-color: lightgray;
}

#networkCanvas {
    background-color: black;
}